<form id="login-form" method="post" action="{% url 'login' %} role="form"  enctype="multipart/form-data">
	{% csrf_token %}
	{% if login_form.non_field_errors %}
		<ul class="form-error-list">
		{% for error in login_form.non_field_errors %}
			<li> {{ error }} </li>
		{% endfor %}
	{% endif %}
	<div class="form-group">
		{{ login_form.username }}
		
		{% if login_form.username.errors %}
			<ul class="error-list">
			{% for error in login_form.username.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-group">
		{{ login_form.password }}
		
		{% if login_form.password.errors %}
			<ul class="error-list">
			{% for error in login_form.password.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<input type="Submit" value="Log in">
</form>