<form id="signup-form" method="post" action="{% url 'register' %}" role="form"  enctype="multipart/form-data" novalidate>
	{% csrf_token %}
	{% if user_form.non_field_errors %}
		<ul class="form-error-list">
			{% for error in user_form.non_field_errors %}
				<li> {{ error }} </li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="form-field">
		{{ user_form.username }}
		
		{% if user_form.username.errors %}
			<ul class="field-error-list">
			{% for error in user_form.username.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-field">
		{{ user_form.email }}
		
		{% if user_form.email.errors %}
			<ul class="field-error-list">
			{% for error in user_form.email.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-field">
		{{ user_form.password }}
		
		{% if user_form.password.errors %}
			<ul class="error-list">
			{% for error in user_form.password.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-field">
		{{ user_form.confirm_password }}
		
		{% if user_form.confirm_password.errors %}
			<ul class="error-list">
			{% for error in user_form.confirm_password.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<input type="Submit" value="Register">
</form>