<table>
	<tr>
		<td> Name </td>
		<td> {{ wizard.name }} </td>
		{% if user == wizard.owner %}
			<td> Edit </td> 
		{% endif %}
	</tr>
	<tr>
		<td> Language </td>
		<td> {{ wizard.language }} </td>
		{% if user == wizard.owner %}
			<td> Edit </td> 
		{% endif %}
	</tr>
	<tr>
		<td> Code </td>
		<td> {{ wizard.code }} </td>
		{% if user == wizard.owner %}
			<td> Edit </td>
		{% endif %}
	</tr>
</table>