
<form method="post" action="{{ destination }}" role="form"  enctype="multipart/form-data">
	{% csrf_token %}
	{% if form.non_field_errors %}
		<ul class="form-error-list">
		{% for error in form.non_field_errors %}
			<li> {{ error }} </li>
		{% endfor %}
	{% endif %}
	<div class="form-group">
		{{ form.name }}
		
		{% if form.name.errors %}
			<ul class="error-list">
			{% for error in form.name.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.code }}
		
		{% if form.code.errors %}
			<ul class="error-list">
			{% for error in form.code.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form.language }}
		
		{% if form.language.errors %}
			<ul class="error-list">
			{% for error in form.language.errors %}
				<li> {{ error }} </li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
	<input type="Submit" value="Create wizard">
</form>

<script>
	var languageSelect = document.getElementById("{{ form.language.auto_id }}");
	var editor = ace.edit("{{ form.code.auto_id }}_ace"); 
	languageSelect.onchange = function(){
			var selectedLanguage = languageSelect.options[languageSelect.selectedIndex];
			console.log(selectedLanguage.getAttribute("ace-mode") + " : " + selectedLanguage.value);
			editor.getSession().setMode("ace/mode/" + selectedLanguage.getAttribute("ace-mode"));
	};
</script>