{% if wizards %}
	<ul>
	{% for wizard in wizards %}
		<li><a href="{% url 'wizard_details' wizard_id=wizard.id %}"> {{ wizard.name }} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p> NO WIZARDS YO </p>
{% endif %}